.collapse-title {
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    padding: 0 3%;
    height: 2.6em;
    font-size: 18px;
    font-weight: 500;
}

.collapse-text {
    color: #FF6060;
    background-color: #F6F6F6;
    font-size: 24px;
    font-weight: 400;
    border-radius: 10px;
}

.collapse-text p {
    margin: 0;
    padding: 3%;
}

.collapse-about {
    margin-bottom: 3%;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.collapse-housing {
    width: 48%;
    margin-bottom: 3%;
}

@media screen and (max-width :768px) {

    .collapse-about {
        width: 100%;
    }

    .collapse-housing {
        width: 100%;
    }
}