.not-found {
    color: #FF6060;
    text-align: center;
}

.error {
    font-weight:700;
    font-size: 288px;
    margin: 0 0 5% 0;
}

.notfound-text {
    font-weight:500;
    font-size: 36px;
    margin: 0 0 6.5% 0;
}

.notfound-link {
    font-weight:500;
    font-size: 18px;
    margin: 0 0 7% 0;
}